body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1113px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u558 {
  position:absolute;
  left:0px;
  top:64px;
  width:1113px;
  height:285px;
  overflow:hidden;
}
#u558_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1113px;
  height:285px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(0, 0, 0, 1);
  background-image:url('../../images/categories_plan_b_/u335_state0.jpg');
  background-position:center center;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:2000px 1250px;
}
#u558_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u559_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1116px;
  height:736px;
}
#u559 {
  position:absolute;
  left:0px;
  top:927px;
  width:1116px;
  height:736px;
}
#u560 {
  position:absolute;
  left:2px;
  top:360px;
  width:1112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u561_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:285px;
}
#u561 {
  position:absolute;
  left:0px;
  top:585px;
  width:1110px;
  height:285px;
}
#u562 {
  position:absolute;
  left:2px;
  top:134px;
  width:1106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u563_div {
  position:absolute;
  left:0px;
  top:0px;
  width:742px;
  height:239px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.4);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u563 {
  position:absolute;
  left:184px;
  top:23px;
  width:742px;
  height:239px;
}
#u564 {
  position:absolute;
  left:2px;
  top:112px;
  width:738px;
  visibility:hidden;
  word-wrap:break-word;
}
#u565 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u566_img {
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  height:56px;
}
#u566 {
  position:absolute;
  left:255px;
  top:62px;
  width:600px;
  height:46px;
  font-family:'LucidaGrande-Bold', 'Lucida Grande Bold', 'Lucida Grande';
  font-weight:700;
  font-style:normal;
  font-size:40px;
  color:#FFFFFF;
}
#u567 {
  position:absolute;
  left:2px;
  top:0px;
  width:596px;
  word-wrap:break-word;
  text-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-text-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -moz-text-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u568_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:161px;
  height:19px;
}
#u568 {
  position:absolute;
  left:482px;
  top:127px;
  width:146px;
  height:4px;
}
#u569 {
  position:absolute;
  left:2px;
  top:-6px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u570_div {
  position:absolute;
  left:0px;
  top:0px;
  width:516px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
  line-height:25px;
}
#u570 {
  position:absolute;
  left:304px;
  top:157px;
  width:516px;
  height:48px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
  line-height:25px;
}
#u571 {
  position:absolute;
  left:0px;
  top:0px;
  width:516px;
  word-wrap:break-word;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
}
#u572 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u573_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u573 {
  position:absolute;
  left:449px;
  top:204px;
  width:18px;
  height:20px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u574 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u575_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u575 {
  position:absolute;
  left:477px;
  top:206px;
  width:185px;
  height:17px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u576 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  white-space:nowrap;
}
#u577 {
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:64px;
  overflow:hidden;
}
#u577_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:64px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(43, 45, 50, 1);
  background-image:none;
}
#u577_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u578_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:36px;
}
#u578 {
  position:absolute;
  left:0px;
  top:10px;
  width:204px;
  height:36px;
}
#u579 {
  position:absolute;
  left:2px;
  top:10px;
  width:200px;
  visibility:hidden;
  word-wrap:break-word;
}
#u580 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u581_div {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:381px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u581 {
  position:absolute;
  left:871px;
  top:399px;
  width:241px;
  height:381px;
}
#u582 {
  position:absolute;
  left:2px;
  top:182px;
  width:237px;
  visibility:hidden;
  word-wrap:break-word;
}
#u583_div {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'LucidaGrande-Bold', 'Lucida Grande Bold', 'Lucida Grande';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u583 {
  position:absolute;
  left:884px;
  top:569px;
  width:215px;
  height:46px;
  font-family:'LucidaGrande-Bold', 'Lucida Grande Bold', 'Lucida Grande';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u584 {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  word-wrap:break-word;
}
#u585_div {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  color:#777777;
}
#u585 {
  position:absolute;
  left:884px;
  top:666px;
  width:209px;
  height:90px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  color:#777777;
}
#u586 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  word-wrap:break-word;
}
#u587_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u587 {
  position:absolute;
  left:884px;
  top:625px;
  width:20px;
  height:20px;
}
#u588 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u589_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
#u589 {
  position:absolute;
  left:914px;
  top:626px;
  width:95px;
  height:20px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
#u590 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u591_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#25A2E4;
}
#u591 {
  position:absolute;
  left:935px;
  top:740px;
  width:80px;
  height:16px;
  color:#25A2E4;
}
#u592 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u593_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:150px;
}
#u593 {
  position:absolute;
  left:873px;
  top:400px;
  width:238px;
  height:150px;
}
#u594 {
  position:absolute;
  left:2px;
  top:67px;
  width:234px;
  visibility:hidden;
  word-wrap:break-word;
}
#u595_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:150px;
}
#u595 {
  position:absolute;
  left:871px;
  top:400px;
  width:240px;
  height:150px;
}
#u596 {
  position:absolute;
  left:2px;
  top:67px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u597_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:150px;
}
#u597 {
  position:absolute;
  left:871px;
  top:400px;
  width:240px;
  height:150px;
}
#u598 {
  position:absolute;
  left:2px;
  top:67px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u599 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u600_div {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:384px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u600 {
  position:absolute;
  left:871px;
  top:805px;
  width:241px;
  height:384px;
}
#u601 {
  position:absolute;
  left:2px;
  top:184px;
  width:237px;
  visibility:hidden;
  word-wrap:break-word;
}
#u602_div {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'LucidaGrande-Bold', 'Lucida Grande Bold', 'Lucida Grande';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u602 {
  position:absolute;
  left:884px;
  top:980px;
  width:215px;
  height:46px;
  font-family:'LucidaGrande-Bold', 'Lucida Grande Bold', 'Lucida Grande';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u603 {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  word-wrap:break-word;
}
#u604_div {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  color:#777777;
}
#u604 {
  position:absolute;
  left:884px;
  top:1077px;
  width:209px;
  height:90px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  color:#777777;
}
#u605 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  word-wrap:break-word;
}
#u606_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u606 {
  position:absolute;
  left:884px;
  top:1036px;
  width:20px;
  height:20px;
}
#u607 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u608_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
#u608 {
  position:absolute;
  left:914px;
  top:1037px;
  width:95px;
  height:20px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
#u609 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u610_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#25A2E4;
}
#u610 {
  position:absolute;
  left:935px;
  top:1151px;
  width:80px;
  height:16px;
  color:#25A2E4;
}
#u611 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u612_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:150px;
}
#u612 {
  position:absolute;
  left:873px;
  top:806px;
  width:238px;
  height:150px;
}
#u613 {
  position:absolute;
  left:2px;
  top:67px;
  width:234px;
  visibility:hidden;
  word-wrap:break-word;
}
#u614_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:153px;
}
#u614 {
  position:absolute;
  left:872px;
  top:806px;
  width:240px;
  height:153px;
}
#u615 {
  position:absolute;
  left:2px;
  top:68px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u616_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:153px;
}
#u616 {
  position:absolute;
  left:872px;
  top:806px;
  width:240px;
  height:153px;
}
#u617 {
  position:absolute;
  left:2px;
  top:68px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u618 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u619_div {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:386px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u619 {
  position:absolute;
  left:872px;
  top:1214px;
  width:241px;
  height:386px;
}
#u620 {
  position:absolute;
  left:2px;
  top:185px;
  width:237px;
  visibility:hidden;
  word-wrap:break-word;
}
#u621_div {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'LucidaGrande-Bold', 'Lucida Grande Bold', 'Lucida Grande';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u621 {
  position:absolute;
  left:886px;
  top:1388px;
  width:215px;
  height:46px;
  font-family:'LucidaGrande-Bold', 'Lucida Grande Bold', 'Lucida Grande';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u622 {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  word-wrap:break-word;
}
#u623_div {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  color:#777777;
}
#u623 {
  position:absolute;
  left:886px;
  top:1485px;
  width:209px;
  height:90px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  color:#777777;
}
#u624 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  word-wrap:break-word;
}
#u625_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u625 {
  position:absolute;
  left:886px;
  top:1463px;
  width:20px;
  height:20px;
}
#u626 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u627_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
#u627 {
  position:absolute;
  left:916px;
  top:1445px;
  width:95px;
  height:20px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
#u628 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u629_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#25A2E4;
}
#u629 {
  position:absolute;
  left:937px;
  top:1559px;
  width:80px;
  height:16px;
  color:#25A2E4;
}
#u630 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u631_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:150px;
}
#u631 {
  position:absolute;
  left:874px;
  top:1215px;
  width:238px;
  height:150px;
}
#u632 {
  position:absolute;
  left:2px;
  top:67px;
  width:234px;
  visibility:hidden;
  word-wrap:break-word;
}
#u633_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:155px;
}
#u633 {
  position:absolute;
  left:873px;
  top:1214px;
  width:240px;
  height:155px;
}
#u634 {
  position:absolute;
  left:2px;
  top:70px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u635 {
  position:absolute;
  left:0px;
  top:2218px;
  width:1110px;
  height:145px;
  overflow:hidden;
}
#u635_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:145px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(43, 45, 50, 1);
  background-image:none;
}
#u635_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u636_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:36px;
}
#u636 {
  position:absolute;
  left:0px;
  top:35px;
  width:204px;
  height:36px;
}
#u637 {
  position:absolute;
  left:2px;
  top:10px;
  width:200px;
  visibility:hidden;
  word-wrap:break-word;
}
#u638_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u638 {
  position:absolute;
  left:538px;
  top:41px;
  width:69px;
  height:22px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u639 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u640_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u640 {
  position:absolute;
  left:650px;
  top:41px;
  width:67px;
  height:22px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u641 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u642_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u642 {
  position:absolute;
  left:759px;
  top:41px;
  width:55px;
  height:22px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u643 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u644_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u644 {
  position:absolute;
  left:857px;
  top:41px;
  width:149px;
  height:22px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u645 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  white-space:nowrap;
}
#u646_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u646 {
  position:absolute;
  left:1048px;
  top:41px;
  width:62px;
  height:22px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u647 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u648_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:170px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u648 {
  position:absolute;
  left:0px;
  top:263px;
  width:1110px;
  height:170px;
}
#u649 {
  position:absolute;
  left:2px;
  top:77px;
  width:1106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u650_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u650 {
  position:absolute;
  left:956px;
  top:88px;
  width:154px;
  height:20px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u651 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  white-space:nowrap;
}
#u652 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u653_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u653 {
  position:absolute;
  left:0px;
  top:374px;
  width:39px;
  height:19px;
}
#u654 {
  position:absolute;
  left:2px;
  top:2px;
  width:35px;
  white-space:nowrap;
}
#u655_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u655 {
  position:absolute;
  left:49px;
  top:374px;
  width:86px;
  height:19px;
  color:#1E1E1E;
}
#u656 {
  position:absolute;
  left:2px;
  top:2px;
  width:82px;
  white-space:nowrap;
}
#u657_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u657 {
  position:absolute;
  left:41px;
  top:377px;
  width:8px;
  height:14px;
  font-size:12px;
}
#u658 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u659_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u659 {
  position:absolute;
  left:871px;
  top:374px;
  width:89px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u660 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u661 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u662_img {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:160px;
}
#u662 {
  position:absolute;
  left:0px;
  top:418px;
  width:243px;
  height:160px;
}
#u663 {
  position:absolute;
  left:2px;
  top:72px;
  width:239px;
  visibility:hidden;
  word-wrap:break-word;
}
#u664_div {
  position:absolute;
  left:0px;
  top:0px;
  width:581px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  color:#777777;
}
#u664 {
  position:absolute;
  left:260px;
  top:478px;
  width:581px;
  height:105px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  color:#777777;
}
#u665 {
  position:absolute;
  left:0px;
  top:0px;
  width:581px;
  word-wrap:break-word;
}
#u666_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
#u666 {
  position:absolute;
  left:259px;
  top:448px;
  width:95px;
  height:20px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
#u667 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u668_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#25A2E4;
}
#u668 {
  position:absolute;
  left:519px;
  top:533px;
  width:80px;
  height:16px;
  color:#25A2E4;
}
#u669 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u670_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u670 {
  position:absolute;
  left:260px;
  top:560px;
  width:75px;
  height:17px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u671 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u672_div {
  position:absolute;
  left:0px;
  top:0px;
  width:581px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'LucidaGrande-Bold', 'Lucida Grande Bold', 'Lucida Grande';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u672 {
  position:absolute;
  left:260px;
  top:415px;
  width:581px;
  height:23px;
  font-family:'LucidaGrande-Bold', 'Lucida Grande Bold', 'Lucida Grande';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u673 {
  position:absolute;
  left:0px;
  top:0px;
  width:581px;
  word-wrap:break-word;
}
#u674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:842px;
  height:2px;
}
#u674 {
  position:absolute;
  left:0px;
  top:604px;
  width:841px;
  height:1px;
}
#u675 {
  position:absolute;
  left:2px;
  top:-8px;
  width:837px;
  visibility:hidden;
  word-wrap:break-word;
}
#u676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:163px;
}
#u676 {
  position:absolute;
  left:0px;
  top:415px;
  width:243px;
  height:163px;
}
#u677 {
  position:absolute;
  left:2px;
  top:74px;
  width:239px;
  visibility:hidden;
  word-wrap:break-word;
}
#u678 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u679_img {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:160px;
}
#u679 {
  position:absolute;
  left:0px;
  top:641px;
  width:243px;
  height:160px;
}
#u680 {
  position:absolute;
  left:2px;
  top:72px;
  width:239px;
  visibility:hidden;
  word-wrap:break-word;
}
#u681_div {
  position:absolute;
  left:0px;
  top:0px;
  width:581px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  color:#777777;
}
#u681 {
  position:absolute;
  left:260px;
  top:701px;
  width:581px;
  height:105px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  color:#777777;
}
#u682 {
  position:absolute;
  left:0px;
  top:0px;
  width:581px;
  word-wrap:break-word;
}
#u683_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
#u683 {
  position:absolute;
  left:260px;
  top:671px;
  width:95px;
  height:20px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
#u684 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u685_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#25A2E4;
}
#u685 {
  position:absolute;
  left:429px;
  top:757px;
  width:80px;
  height:16px;
  color:#25A2E4;
}
#u686 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u687_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u687 {
  position:absolute;
  left:260px;
  top:791px;
  width:75px;
  height:17px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u688 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u689_div {
  position:absolute;
  left:0px;
  top:0px;
  width:581px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'LucidaGrande-Bold', 'Lucida Grande Bold', 'Lucida Grande';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u689 {
  position:absolute;
  left:260px;
  top:637px;
  width:581px;
  height:23px;
  font-family:'LucidaGrande-Bold', 'Lucida Grande Bold', 'Lucida Grande';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u690 {
  position:absolute;
  left:0px;
  top:0px;
  width:581px;
  word-wrap:break-word;
}
#u691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:842px;
  height:2px;
}
#u691 {
  position:absolute;
  left:0px;
  top:831px;
  width:841px;
  height:1px;
}
#u692 {
  position:absolute;
  left:2px;
  top:-8px;
  width:837px;
  visibility:hidden;
  word-wrap:break-word;
}
#u693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:170px;
}
#u693 {
  position:absolute;
  left:0px;
  top:637px;
  width:243px;
  height:170px;
}
#u694 {
  position:absolute;
  left:2px;
  top:77px;
  width:239px;
  visibility:hidden;
  word-wrap:break-word;
}
#u695 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u696_img {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:160px;
}
#u696 {
  position:absolute;
  left:0px;
  top:867px;
  width:243px;
  height:160px;
}
#u697 {
  position:absolute;
  left:2px;
  top:72px;
  width:239px;
  visibility:hidden;
  word-wrap:break-word;
}
#u698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:581px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  color:#777777;
}
#u698 {
  position:absolute;
  left:260px;
  top:925px;
  width:581px;
  height:72px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  color:#777777;
}
#u699 {
  position:absolute;
  left:0px;
  top:0px;
  width:581px;
  word-wrap:break-word;
}
#u700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
#u700 {
  position:absolute;
  left:259px;
  top:896px;
  width:95px;
  height:20px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
#u701 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#25A2E4;
}
#u702 {
  position:absolute;
  left:592px;
  top:981px;
  width:80px;
  height:16px;
  color:#25A2E4;
}
#u703 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u704 {
  position:absolute;
  left:260px;
  top:1010px;
  width:75px;
  height:17px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u705 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u706_div {
  position:absolute;
  left:0px;
  top:0px;
  width:581px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'LucidaGrande-Bold', 'Lucida Grande Bold', 'Lucida Grande';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u706 {
  position:absolute;
  left:260px;
  top:863px;
  width:581px;
  height:23px;
  font-family:'LucidaGrande-Bold', 'Lucida Grande Bold', 'Lucida Grande';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u707 {
  position:absolute;
  left:0px;
  top:0px;
  width:581px;
  word-wrap:break-word;
}
#u708_img {
  position:absolute;
  left:0px;
  top:0px;
  width:842px;
  height:2px;
}
#u708 {
  position:absolute;
  left:0px;
  top:1052px;
  width:841px;
  height:1px;
}
#u709 {
  position:absolute;
  left:2px;
  top:-8px;
  width:837px;
  visibility:hidden;
  word-wrap:break-word;
}
#u710_img {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:164px;
}
#u710 {
  position:absolute;
  left:0px;
  top:863px;
  width:243px;
  height:164px;
}
#u711 {
  position:absolute;
  left:2px;
  top:74px;
  width:239px;
  visibility:hidden;
  word-wrap:break-word;
}
#u712 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u713_div {
  position:absolute;
  left:0px;
  top:0px;
  width:581px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  color:#777777;
}
#u713 {
  position:absolute;
  left:260px;
  top:1148px;
  width:581px;
  height:72px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  color:#777777;
}
#u714 {
  position:absolute;
  left:0px;
  top:0px;
  width:581px;
  word-wrap:break-word;
}
#u715_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
#u715 {
  position:absolute;
  left:257px;
  top:1118px;
  width:95px;
  height:20px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
#u716 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u717_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#25A2E4;
}
#u717 {
  position:absolute;
  left:624px;
  top:1204px;
  width:80px;
  height:16px;
  color:#25A2E4;
}
#u718 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u719_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u719 {
  position:absolute;
  left:260px;
  top:1230px;
  width:75px;
  height:17px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u720 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u721_div {
  position:absolute;
  left:0px;
  top:0px;
  width:581px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'LucidaGrande-Bold', 'Lucida Grande Bold', 'Lucida Grande';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u721 {
  position:absolute;
  left:260px;
  top:1085px;
  width:581px;
  height:23px;
  font-family:'LucidaGrande-Bold', 'Lucida Grande Bold', 'Lucida Grande';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u722 {
  position:absolute;
  left:0px;
  top:0px;
  width:581px;
  word-wrap:break-word;
}
#u723_img {
  position:absolute;
  left:0px;
  top:0px;
  width:842px;
  height:2px;
}
#u723 {
  position:absolute;
  left:0px;
  top:1277px;
  width:841px;
  height:1px;
}
#u724 {
  position:absolute;
  left:2px;
  top:-8px;
  width:837px;
  visibility:hidden;
  word-wrap:break-word;
}
#u725_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:167px;
}
#u725 {
  position:absolute;
  left:0px;
  top:1085px;
  width:248px;
  height:167px;
}
#u726 {
  position:absolute;
  left:2px;
  top:76px;
  width:244px;
  visibility:hidden;
  word-wrap:break-word;
}
#u727 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u728_div {
  position:absolute;
  left:0px;
  top:0px;
  width:581px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  color:#777777;
}
#u728 {
  position:absolute;
  left:260px;
  top:1375px;
  width:581px;
  height:72px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  color:#777777;
}
#u729 {
  position:absolute;
  left:0px;
  top:0px;
  width:581px;
  word-wrap:break-word;
}
#u730_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
#u730 {
  position:absolute;
  left:259px;
  top:1343px;
  width:95px;
  height:20px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
#u731 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u732_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#25A2E4;
}
#u732 {
  position:absolute;
  left:395px;
  top:1431px;
  width:80px;
  height:16px;
  color:#25A2E4;
}
#u733 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u734_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u734 {
  position:absolute;
  left:260px;
  top:1457px;
  width:75px;
  height:17px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u735 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u736_div {
  position:absolute;
  left:0px;
  top:0px;
  width:581px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'LucidaGrande-Bold', 'Lucida Grande Bold', 'Lucida Grande';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u736 {
  position:absolute;
  left:260px;
  top:1310px;
  width:581px;
  height:23px;
  font-family:'LucidaGrande-Bold', 'Lucida Grande Bold', 'Lucida Grande';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u737 {
  position:absolute;
  left:0px;
  top:0px;
  width:581px;
  word-wrap:break-word;
}
#u738_img {
  position:absolute;
  left:0px;
  top:0px;
  width:842px;
  height:2px;
}
#u738 {
  position:absolute;
  left:0px;
  top:1499px;
  width:841px;
  height:1px;
}
#u739 {
  position:absolute;
  left:2px;
  top:-8px;
  width:837px;
  visibility:hidden;
  word-wrap:break-word;
}
#u740_img {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:162px;
}
#u740 {
  position:absolute;
  left:0px;
  top:1310px;
  width:243px;
  height:162px;
}
#u741 {
  position:absolute;
  left:2px;
  top:73px;
  width:239px;
  visibility:hidden;
  word-wrap:break-word;
}
#u742 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u743_div {
  position:absolute;
  left:0px;
  top:0px;
  width:581px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  color:#777777;
}
#u743 {
  position:absolute;
  left:260px;
  top:1594px;
  width:581px;
  height:72px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  color:#777777;
}
#u744 {
  position:absolute;
  left:0px;
  top:0px;
  width:581px;
  word-wrap:break-word;
}
#u745_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
#u745 {
  position:absolute;
  left:259px;
  top:1565px;
  width:95px;
  height:20px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
#u746 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u747_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#25A2E4;
}
#u747 {
  position:absolute;
  left:363px;
  top:1650px;
  width:80px;
  height:16px;
  color:#25A2E4;
}
#u748 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u749_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u749 {
  position:absolute;
  left:260px;
  top:1676px;
  width:75px;
  height:17px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u750 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u751_div {
  position:absolute;
  left:0px;
  top:0px;
  width:581px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'LucidaGrande-Bold', 'Lucida Grande Bold', 'Lucida Grande';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u751 {
  position:absolute;
  left:260px;
  top:1532px;
  width:581px;
  height:23px;
  font-family:'LucidaGrande-Bold', 'Lucida Grande Bold', 'Lucida Grande';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u752 {
  position:absolute;
  left:0px;
  top:0px;
  width:581px;
  word-wrap:break-word;
}
#u753_img {
  position:absolute;
  left:0px;
  top:0px;
  width:842px;
  height:2px;
}
#u753 {
  position:absolute;
  left:0px;
  top:1721px;
  width:841px;
  height:1px;
}
#u754 {
  position:absolute;
  left:2px;
  top:-8px;
  width:837px;
  visibility:hidden;
  word-wrap:break-word;
}
#u755_img {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:164px;
}
#u755 {
  position:absolute;
  left:0px;
  top:1532px;
  width:243px;
  height:164px;
}
#u756 {
  position:absolute;
  left:2px;
  top:74px;
  width:239px;
  visibility:hidden;
  word-wrap:break-word;
}
#u757 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u758_div {
  position:absolute;
  left:0px;
  top:0px;
  width:581px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  color:#777777;
}
#u758 {
  position:absolute;
  left:265px;
  top:1841px;
  width:581px;
  height:72px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  color:#777777;
}
#u759 {
  position:absolute;
  left:0px;
  top:0px;
  width:581px;
  word-wrap:break-word;
}
#u760_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
#u760 {
  position:absolute;
  left:265px;
  top:1809px;
  width:95px;
  height:20px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
#u761 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u762_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#25A2E4;
}
#u762 {
  position:absolute;
  left:625px;
  top:1897px;
  width:80px;
  height:16px;
  color:#25A2E4;
}
#u763 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u764_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u764 {
  position:absolute;
  left:265px;
  top:1923px;
  width:75px;
  height:17px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u765 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u766_div {
  position:absolute;
  left:0px;
  top:0px;
  width:581px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'LucidaGrande-Bold', 'Lucida Grande Bold', 'Lucida Grande';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u766 {
  position:absolute;
  left:265px;
  top:1753px;
  width:581px;
  height:46px;
  font-family:'LucidaGrande-Bold', 'Lucida Grande Bold', 'Lucida Grande';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u767 {
  position:absolute;
  left:0px;
  top:0px;
  width:581px;
  word-wrap:break-word;
}
#u768_img {
  position:absolute;
  left:0px;
  top:0px;
  width:842px;
  height:2px;
}
#u768 {
  position:absolute;
  left:0px;
  top:1965px;
  width:841px;
  height:1px;
}
#u769 {
  position:absolute;
  left:2px;
  top:-8px;
  width:837px;
  visibility:hidden;
  word-wrap:break-word;
}
#u770_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:163px;
}
#u770 {
  position:absolute;
  left:6px;
  top:1753px;
  width:242px;
  height:163px;
}
#u771 {
  position:absolute;
  left:2px;
  top:74px;
  width:238px;
  visibility:hidden;
  word-wrap:break-word;
}
#u772 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u773_div {
  position:absolute;
  left:0px;
  top:0px;
  width:581px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  color:#777777;
}
#u773 {
  position:absolute;
  left:260px;
  top:2060px;
  width:581px;
  height:72px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  color:#777777;
}
#u774 {
  position:absolute;
  left:0px;
  top:0px;
  width:581px;
  word-wrap:break-word;
}
#u775_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
#u775 {
  position:absolute;
  left:259px;
  top:2030px;
  width:95px;
  height:20px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
#u776 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u777_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#25A2E4;
}
#u777 {
  position:absolute;
  left:398px;
  top:2116px;
  width:80px;
  height:16px;
  color:#25A2E4;
}
#u778 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u779_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u779 {
  position:absolute;
  left:260px;
  top:2145px;
  width:75px;
  height:17px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u780 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u781_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:164px;
}
#u781 {
  position:absolute;
  left:0px;
  top:1998px;
  width:242px;
  height:164px;
}
#u782 {
  position:absolute;
  left:2px;
  top:74px;
  width:238px;
  visibility:hidden;
  word-wrap:break-word;
}
#u783_div {
  position:absolute;
  left:0px;
  top:0px;
  width:581px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'LucidaGrande-Bold', 'Lucida Grande Bold', 'Lucida Grande';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u783 {
  position:absolute;
  left:260px;
  top:1998px;
  width:581px;
  height:45px;
  font-family:'LucidaGrande-Bold', 'Lucida Grande Bold', 'Lucida Grande';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u784 {
  position:absolute;
  left:0px;
  top:0px;
  width:581px;
  word-wrap:break-word;
}
