body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1107px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:406px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:0px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 1px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1213 {
  position:absolute;
  left:0px;
  top:92px;
  width:320px;
  height:406px;
}
#u1214 {
  position:absolute;
  left:2px;
  top:195px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:210px;
}
#u1215 {
  position:absolute;
  left:0px;
  top:92px;
  width:320px;
  height:210px;
}
#u1216 {
  position:absolute;
  left:2px;
  top:97px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1217_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:325px;
  height:9px;
}
#u1217 {
  position:absolute;
  left:0px;
  top:298px;
  width:320px;
  height:4px;
}
#u1218 {
  position:absolute;
  left:2px;
  top:-6px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1219_div {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'LucidaGrande-Bold', 'Lucida Grande Bold', 'Lucida Grande';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1219 {
  position:absolute;
  left:7px;
  top:312px;
  width:287px;
  height:23px;
  font-family:'LucidaGrande-Bold', 'Lucida Grande Bold', 'Lucida Grande';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1220 {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  white-space:nowrap;
}
#u1221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  color:#777777;
}
#u1221 {
  position:absolute;
  left:10px;
  top:382px;
  width:300px;
  height:72px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  color:#777777;
}
#u1222 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u1223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1223 {
  position:absolute;
  left:10px;
  top:345px;
  width:20px;
  height:20px;
}
#u1224 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
#u1225 {
  position:absolute;
  left:40px;
  top:346px;
  width:95px;
  height:20px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
#u1226 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u1227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#25A2E4;
}
#u1227 {
  position:absolute;
  left:45px;
  top:439px;
  width:80px;
  height:16px;
  color:#25A2E4;
}
#u1228 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u1229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u1229 {
  position:absolute;
  left:10px;
  top:465px;
  width:75px;
  height:17px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u1230 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u1231_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:406px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:0px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 1px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1231 {
  position:absolute;
  left:372px;
  top:92px;
  width:320px;
  height:406px;
}
#u1232 {
  position:absolute;
  left:2px;
  top:195px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:210px;
}
#u1233 {
  position:absolute;
  left:372px;
  top:92px;
  width:320px;
  height:210px;
}
#u1234 {
  position:absolute;
  left:2px;
  top:97px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1235_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:325px;
  height:9px;
}
#u1235 {
  position:absolute;
  left:372px;
  top:298px;
  width:320px;
  height:4px;
}
#u1236 {
  position:absolute;
  left:2px;
  top:-6px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'LucidaGrande-Bold', 'Lucida Grande Bold', 'Lucida Grande';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1237 {
  position:absolute;
  left:379px;
  top:312px;
  width:287px;
  height:23px;
  font-family:'LucidaGrande-Bold', 'Lucida Grande Bold', 'Lucida Grande';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1238 {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  white-space:nowrap;
}
#u1239_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  color:#777777;
}
#u1239 {
  position:absolute;
  left:382px;
  top:382px;
  width:300px;
  height:72px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  color:#777777;
}
#u1240 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u1241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1241 {
  position:absolute;
  left:382px;
  top:345px;
  width:20px;
  height:20px;
}
#u1242 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1243_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
#u1243 {
  position:absolute;
  left:412px;
  top:346px;
  width:95px;
  height:20px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
#u1244 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u1245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#25A2E4;
}
#u1245 {
  position:absolute;
  left:417px;
  top:439px;
  width:80px;
  height:16px;
  color:#25A2E4;
}
#u1246 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u1247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u1247 {
  position:absolute;
  left:382px;
  top:465px;
  width:75px;
  height:17px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u1248 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u1249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:400px;
}
#u1249 {
  position:absolute;
  left:7px;
  top:607px;
  width:1110px;
  height:400px;
}
#u1250 {
  position:absolute;
  left:2px;
  top:192px;
  width:1106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:295px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.4);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1251 {
  position:absolute;
  left:38px;
  top:657px;
  width:600px;
  height:295px;
}
#u1252 {
  position:absolute;
  left:2px;
  top:140px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1253 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  height:56px;
}
#u1254 {
  position:absolute;
  left:38px;
  top:701px;
  width:600px;
  height:46px;
  font-family:'LucidaGrande-Bold', 'Lucida Grande Bold', 'Lucida Grande';
  font-weight:700;
  font-style:normal;
  font-size:40px;
  color:#FFFFFF;
}
#u1255 {
  position:absolute;
  left:2px;
  top:0px;
  width:596px;
  word-wrap:break-word;
  text-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-text-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -moz-text-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1256_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:161px;
  height:19px;
}
#u1256 {
  position:absolute;
  left:265px;
  top:766px;
  width:146px;
  height:4px;
}
#u1257 {
  position:absolute;
  left:2px;
  top:-6px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1258_div {
  position:absolute;
  left:0px;
  top:0px;
  width:516px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:25px;
}
#u1258 {
  position:absolute;
  left:87px;
  top:796px;
  width:516px;
  height:48px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:25px;
}
#u1259 {
  position:absolute;
  left:0px;
  top:0px;
  width:516px;
  word-wrap:break-word;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
}
#u1260 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1261_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u1261 {
  position:absolute;
  left:87px;
  top:889px;
  width:18px;
  height:20px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u1262 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u1263_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1263 {
  position:absolute;
  left:115px;
  top:891px;
  width:185px;
  height:17px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1264 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  white-space:nowrap;
}
#u1265 {
  position:absolute;
  left:-4px;
  top:1152px;
  width:1113px;
  height:285px;
  overflow:hidden;
}
#u1265_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1113px;
  height:285px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(0, 0, 0, 1);
  background-image:url('../../images/categories_plan_b_/u335_state0.jpg');
  background-position:center center;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:2000px 1250px;
}
#u1265_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1116px;
  height:736px;
}
#u1266 {
  position:absolute;
  left:0px;
  top:927px;
  width:1116px;
  height:736px;
}
#u1267 {
  position:absolute;
  left:2px;
  top:360px;
  width:1112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:285px;
}
#u1268 {
  position:absolute;
  left:0px;
  top:585px;
  width:1110px;
  height:285px;
}
#u1269 {
  position:absolute;
  left:2px;
  top:134px;
  width:1106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1270_div {
  position:absolute;
  left:0px;
  top:0px;
  width:742px;
  height:239px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.4);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1270 {
  position:absolute;
  left:184px;
  top:23px;
  width:742px;
  height:239px;
}
#u1271 {
  position:absolute;
  left:2px;
  top:112px;
  width:738px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1272 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  height:56px;
}
#u1273 {
  position:absolute;
  left:255px;
  top:52px;
  width:600px;
  height:46px;
  font-family:'LucidaGrande-Bold', 'Lucida Grande Bold', 'Lucida Grande';
  font-weight:700;
  font-style:normal;
  font-size:40px;
  color:#FFFFFF;
}
#u1274 {
  position:absolute;
  left:2px;
  top:0px;
  width:596px;
  word-wrap:break-word;
  text-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-text-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -moz-text-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1275_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:161px;
  height:19px;
}
#u1275 {
  position:absolute;
  left:482px;
  top:117px;
  width:146px;
  height:4px;
}
#u1276 {
  position:absolute;
  left:2px;
  top:-6px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1277_div {
  position:absolute;
  left:0px;
  top:0px;
  width:516px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
  line-height:25px;
}
#u1277 {
  position:absolute;
  left:304px;
  top:147px;
  width:516px;
  height:48px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
  line-height:25px;
}
#u1278 {
  position:absolute;
  left:0px;
  top:0px;
  width:516px;
  word-wrap:break-word;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
}
#u1279 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1280_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u1280 {
  position:absolute;
  left:449px;
  top:212px;
  width:18px;
  height:20px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u1281 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u1282_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1282 {
  position:absolute;
  left:477px;
  top:214px;
  width:185px;
  height:17px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1283 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  white-space:nowrap;
}
#u1284 {
  position:absolute;
  left:-4px;
  top:1088px;
  width:1110px;
  height:64px;
  overflow:hidden;
}
#u1284_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:64px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(43, 45, 50, 1);
  background-image:none;
}
#u1284_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:36px;
}
#u1285 {
  position:absolute;
  left:0px;
  top:10px;
  width:204px;
  height:36px;
}
#u1286 {
  position:absolute;
  left:2px;
  top:10px;
  width:200px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1287_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lato';
  font-weight:700;
  font-style:normal;
}
#u1287 {
  position:absolute;
  left:-4px;
  top:1473px;
  width:318px;
  height:29px;
  font-family:'Lato';
  font-weight:700;
  font-style:normal;
}
#u1288 {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  white-space:nowrap;
}
#u1289_div {
  position:absolute;
  left:0px;
  top:0px;
  width:830px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Georgia';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  line-height:48px;
}
#u1289 {
  position:absolute;
  left:-4px;
  top:1518px;
  width:830px;
  height:96px;
  font-family:'Georgia';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  line-height:48px;
}
#u1290 {
  position:absolute;
  left:0px;
  top:0px;
  width:830px;
  word-wrap:break-word;
}
#u1291_div {
  position:absolute;
  left:0px;
  top:0px;
  width:836px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Georgia';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:26px;
}
#u1291 {
  position:absolute;
  left:-10px;
  top:1631px;
  width:836px;
  height:78px;
  font-family:'Georgia';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:26px;
}
#u1292 {
  position:absolute;
  left:0px;
  top:0px;
  width:836px;
  word-wrap:break-word;
}
#u1293 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1294_div {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:394px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1294 {
  position:absolute;
  left:867px;
  top:1473px;
  width:241px;
  height:394px;
}
#u1295 {
  position:absolute;
  left:2px;
  top:189px;
  width:237px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1296_div {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'LucidaGrande-Bold', 'Lucida Grande Bold', 'Lucida Grande';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1296 {
  position:absolute;
  left:880px;
  top:1664px;
  width:215px;
  height:46px;
  font-family:'LucidaGrande-Bold', 'Lucida Grande Bold', 'Lucida Grande';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1297 {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  word-wrap:break-word;
}
#u1298_div {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  color:#777777;
}
#u1298 {
  position:absolute;
  left:880px;
  top:1761px;
  width:209px;
  height:90px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  color:#777777;
}
#u1299 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  word-wrap:break-word;
}
#u1300_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1300 {
  position:absolute;
  left:880px;
  top:1720px;
  width:20px;
  height:20px;
}
#u1301 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1302_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
#u1302 {
  position:absolute;
  left:910px;
  top:1721px;
  width:95px;
  height:20px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
#u1303 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u1304_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#25A2E4;
}
#u1304 {
  position:absolute;
  left:931px;
  top:1835px;
  width:80px;
  height:16px;
  color:#25A2E4;
}
#u1305 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u1306_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:150px;
}
#u1306 {
  position:absolute;
  left:869px;
  top:1474px;
  width:238px;
  height:150px;
}
#u1307 {
  position:absolute;
  left:2px;
  top:67px;
  width:234px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1308_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:150px;
}
#u1308 {
  position:absolute;
  left:867px;
  top:1474px;
  width:240px;
  height:150px;
}
#u1309 {
  position:absolute;
  left:2px;
  top:67px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1310_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#25A2E4;
}
#u1310 {
  position:absolute;
  left:880px;
  top:1642px;
  width:116px;
  height:18px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#25A2E4;
}
#u1311 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u1312_div {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
}
#u1312 {
  position:absolute;
  left:-4px;
  top:1747px;
  width:322px;
  height:29px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
}
#u1313 {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  white-space:nowrap;
}
#u1314 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1315_div {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:398px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1315 {
  position:absolute;
  left:867px;
  top:1894px;
  width:241px;
  height:398px;
}
#u1316 {
  position:absolute;
  left:2px;
  top:191px;
  width:237px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1317_div {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'LucidaGrande-Bold', 'Lucida Grande Bold', 'Lucida Grande';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1317 {
  position:absolute;
  left:880px;
  top:2084px;
  width:215px;
  height:46px;
  font-family:'LucidaGrande-Bold', 'Lucida Grande Bold', 'Lucida Grande';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1318 {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  word-wrap:break-word;
}
#u1319_div {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  color:#777777;
}
#u1319 {
  position:absolute;
  left:880px;
  top:2181px;
  width:209px;
  height:90px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  color:#777777;
}
#u1320 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  word-wrap:break-word;
}
#u1321_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1321 {
  position:absolute;
  left:880px;
  top:2140px;
  width:20px;
  height:20px;
}
#u1322 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1323_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
#u1323 {
  position:absolute;
  left:910px;
  top:2141px;
  width:95px;
  height:20px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
#u1324 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u1325_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#25A2E4;
}
#u1325 {
  position:absolute;
  left:931px;
  top:2255px;
  width:80px;
  height:16px;
  color:#25A2E4;
}
#u1326 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u1327_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:150px;
}
#u1327 {
  position:absolute;
  left:869px;
  top:1895px;
  width:238px;
  height:150px;
}
#u1328 {
  position:absolute;
  left:2px;
  top:67px;
  width:234px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1329_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:153px;
}
#u1329 {
  position:absolute;
  left:868px;
  top:1895px;
  width:240px;
  height:153px;
}
#u1330 {
  position:absolute;
  left:2px;
  top:68px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1331_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#25A2E4;
}
#u1331 {
  position:absolute;
  left:880px;
  top:2061px;
  width:110px;
  height:18px;
  font-size:16px;
  color:#25A2E4;
}
#u1332 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  white-space:nowrap;
}
#u1333 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1334_div {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:401px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1334 {
  position:absolute;
  left:868px;
  top:2319px;
  width:241px;
  height:401px;
}
#u1335 {
  position:absolute;
  left:2px;
  top:192px;
  width:237px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1336_div {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'LucidaGrande-Bold', 'Lucida Grande Bold', 'Lucida Grande';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1336 {
  position:absolute;
  left:882px;
  top:2512px;
  width:215px;
  height:46px;
  font-family:'LucidaGrande-Bold', 'Lucida Grande Bold', 'Lucida Grande';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1337 {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  word-wrap:break-word;
}
#u1338_div {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  color:#777777;
}
#u1338 {
  position:absolute;
  left:882px;
  top:2609px;
  width:209px;
  height:90px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  color:#777777;
}
#u1339 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  word-wrap:break-word;
}
#u1340_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1340 {
  position:absolute;
  left:882px;
  top:2568px;
  width:20px;
  height:20px;
}
#u1341 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1342_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
#u1342 {
  position:absolute;
  left:912px;
  top:2569px;
  width:95px;
  height:20px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
#u1343 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u1344_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#25A2E4;
}
#u1344 {
  position:absolute;
  left:933px;
  top:2683px;
  width:80px;
  height:16px;
  color:#25A2E4;
}
#u1345 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u1346_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:150px;
}
#u1346 {
  position:absolute;
  left:870px;
  top:2320px;
  width:238px;
  height:150px;
}
#u1347 {
  position:absolute;
  left:2px;
  top:67px;
  width:234px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1348_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:155px;
}
#u1348 {
  position:absolute;
  left:869px;
  top:2319px;
  width:240px;
  height:155px;
}
#u1349 {
  position:absolute;
  left:2px;
  top:70px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1350_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#25A2E4;
}
#u1350 {
  position:absolute;
  left:882px;
  top:2488px;
  width:110px;
  height:18px;
  font-size:16px;
  color:#25A2E4;
}
#u1351 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  white-space:nowrap;
}
#u1352 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1353_div {
  position:absolute;
  left:0px;
  top:0px;
  width:526px;
  height:156px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Georgia';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:26px;
}
#u1353 {
  position:absolute;
  left:299px;
  top:1807px;
  width:526px;
  height:156px;
  font-family:'Georgia';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:26px;
}
#u1354 {
  position:absolute;
  left:0px;
  top:0px;
  width:526px;
  word-wrap:break-word;
}
#u1355_div {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:203px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1355 {
  position:absolute;
  left:-4px;
  top:1807px;
  width:231px;
  height:203px;
}
#u1356 {
  position:absolute;
  left:2px;
  top:94px;
  width:227px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1357_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:67px;
}
#u1357 {
  position:absolute;
  left:11px;
  top:1860px;
  width:201px;
  height:67px;
}
#u1358 {
  position:absolute;
  left:2px;
  top:26px;
  width:197px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1359_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:363px;
}
#u1359 {
  position:absolute;
  left:263px;
  top:1807px;
  width:1px;
  height:362px;
}
#u1360 {
  position:absolute;
  left:2px;
  top:173px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1361_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1361 {
  position:absolute;
  left:299px;
  top:1973px;
  width:84px;
  height:24px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1362 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u1363_div {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:156px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Georgia';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:26px;
}
#u1363 {
  position:absolute;
  left:299px;
  top:2013px;
  width:520px;
  height:156px;
  font-family:'Georgia';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:26px;
}
#u1364 {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  word-wrap:break-word;
}
#u1365_div {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:40px;
  background:inherit;
  background-color:rgba(37, 162, 228, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u1365 {
  position:absolute;
  left:20px;
  top:2032px;
  width:179px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u1366 {
  position:absolute;
  left:2px;
  top:11px;
  width:175px;
  word-wrap:break-word;
}
#u1367_div {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#25A2E4;
}
#u1367 {
  position:absolute;
  left:31px;
  top:2087px;
  width:158px;
  height:23px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#25A2E4;
}
#u1368 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  white-space:nowrap;
}
#u1369 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1370_div {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:203px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1370 {
  position:absolute;
  left:594px;
  top:2224px;
  width:231px;
  height:203px;
}
#u1371 {
  position:absolute;
  left:2px;
  top:94px;
  width:227px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1372_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:67px;
}
#u1372 {
  position:absolute;
  left:609px;
  top:2277px;
  width:201px;
  height:67px;
}
#u1373 {
  position:absolute;
  left:2px;
  top:26px;
  width:197px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1374_div {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:40px;
  background:inherit;
  background-color:rgba(37, 162, 228, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u1374 {
  position:absolute;
  left:618px;
  top:2449px;
  width:179px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u1375 {
  position:absolute;
  left:2px;
  top:11px;
  width:175px;
  word-wrap:break-word;
}
#u1376_div {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#25A2E4;
}
#u1376 {
  position:absolute;
  left:629px;
  top:2504px;
  width:158px;
  height:23px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#25A2E4;
}
#u1377 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  white-space:nowrap;
}
#u1378_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:363px;
}
#u1378 {
  position:absolute;
  left:559px;
  top:2224px;
  width:1px;
  height:362px;
}
#u1379 {
  position:absolute;
  left:2px;
  top:173px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1380_div {
  position:absolute;
  left:0px;
  top:0px;
  width:526px;
  height:156px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Georgia';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:26px;
}
#u1380 {
  position:absolute;
  left:-4px;
  top:2224px;
  width:526px;
  height:156px;
  font-family:'Georgia';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:26px;
}
#u1381 {
  position:absolute;
  left:0px;
  top:0px;
  width:526px;
  word-wrap:break-word;
}
#u1382_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1382 {
  position:absolute;
  left:-4px;
  top:2390px;
  width:84px;
  height:24px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1383 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u1384_div {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:156px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Georgia';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:26px;
}
#u1384 {
  position:absolute;
  left:-4px;
  top:2430px;
  width:520px;
  height:156px;
  font-family:'Georgia';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:26px;
}
#u1385 {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  word-wrap:break-word;
}
#u1386 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1387_div {
  position:absolute;
  left:0px;
  top:0px;
  width:526px;
  height:156px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Georgia';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:26px;
}
#u1387 {
  position:absolute;
  left:299px;
  top:2640px;
  width:526px;
  height:156px;
  font-family:'Georgia';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:26px;
}
#u1388 {
  position:absolute;
  left:0px;
  top:0px;
  width:526px;
  word-wrap:break-word;
}
#u1389_div {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:203px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1389 {
  position:absolute;
  left:-4px;
  top:2640px;
  width:231px;
  height:203px;
}
#u1390 {
  position:absolute;
  left:2px;
  top:94px;
  width:227px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1391_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:67px;
}
#u1391 {
  position:absolute;
  left:11px;
  top:2693px;
  width:201px;
  height:67px;
}
#u1392 {
  position:absolute;
  left:2px;
  top:26px;
  width:197px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1393_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:363px;
}
#u1393 {
  position:absolute;
  left:263px;
  top:2640px;
  width:1px;
  height:362px;
}
#u1394 {
  position:absolute;
  left:2px;
  top:173px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1395_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1395 {
  position:absolute;
  left:299px;
  top:2806px;
  width:84px;
  height:24px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1396 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u1397_div {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:156px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Georgia';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:26px;
}
#u1397 {
  position:absolute;
  left:299px;
  top:2846px;
  width:520px;
  height:156px;
  font-family:'Georgia';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:26px;
}
#u1398 {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  word-wrap:break-word;
}
#u1399_div {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:40px;
  background:inherit;
  background-color:rgba(37, 162, 228, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u1399 {
  position:absolute;
  left:20px;
  top:2865px;
  width:179px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u1400 {
  position:absolute;
  left:2px;
  top:11px;
  width:175px;
  word-wrap:break-word;
}
#u1401_div {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#25A2E4;
}
#u1401 {
  position:absolute;
  left:31px;
  top:2920px;
  width:158px;
  height:23px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#25A2E4;
}
#u1402 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  white-space:nowrap;
}
#u1403_div {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:446px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1403 {
  position:absolute;
  left:0px;
  top:3100px;
  width:241px;
  height:446px;
}
#u1404 {
  position:absolute;
  left:2px;
  top:215px;
  width:237px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1405_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:67px;
}
#u1405 {
  position:absolute;
  left:14px;
  top:3116px;
  width:201px;
  height:67px;
}
#u1406 {
  position:absolute;
  left:2px;
  top:26px;
  width:197px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1407 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1408_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#25A2E4;
  text-align:left;
}
#u1408 {
  position:absolute;
  left:85px;
  top:3188px;
  width:18px;
  height:18px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#25A2E4;
  text-align:left;
}
#u1409 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u1410_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#25A2E4;
  text-align:left;
}
#u1410 {
  position:absolute;
  left:65px;
  top:3188px;
  width:18px;
  height:18px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#25A2E4;
  text-align:left;
}
#u1411 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u1412_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#25A2E4;
  text-align:left;
}
#u1412 {
  position:absolute;
  left:106px;
  top:3188px;
  width:18px;
  height:18px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#25A2E4;
  text-align:left;
}
#u1413 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u1414_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#25A2E4;
  text-align:left;
}
#u1414 {
  position:absolute;
  left:127px;
  top:3188px;
  width:18px;
  height:18px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#25A2E4;
  text-align:left;
}
#u1415 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u1416_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#25A2E4;
  text-align:left;
}
#u1416 {
  position:absolute;
  left:147px;
  top:3188px;
  width:18px;
  height:18px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#25A2E4;
  text-align:left;
}
#u1417 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u1418_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  color:#777777;
  text-align:left;
  line-height:20px;
}
#u1418 {
  position:absolute;
  left:17px;
  top:3230px;
  width:197px;
  height:36px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  color:#777777;
  text-align:left;
  line-height:20px;
}
#u1419 {
  position:absolute;
  left:10px;
  top:-2px;
  width:185px;
  word-wrap:break-word;
}
#u1420_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  color:#777777;
  text-align:left;
  line-height:20px;
}
#u1420 {
  position:absolute;
  left:17px;
  top:3278px;
  width:197px;
  height:63px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  color:#777777;
  text-align:left;
  line-height:20px;
}
#u1421 {
  position:absolute;
  left:10px;
  top:2px;
  width:185px;
  word-wrap:break-word;
}
#u1422_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  color:#777777;
  text-align:left;
  line-height:20px;
}
#u1422 {
  position:absolute;
  left:17px;
  top:3355px;
  width:197px;
  height:38px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  color:#777777;
  text-align:left;
  line-height:20px;
}
#u1423 {
  position:absolute;
  left:10px;
  top:-1px;
  width:185px;
  word-wrap:break-word;
}
#u1424_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  color:#777777;
  text-align:left;
  line-height:20px;
}
#u1424 {
  position:absolute;
  left:17px;
  top:3410px;
  width:197px;
  height:60px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  color:#777777;
  text-align:left;
  line-height:20px;
}
#u1425 {
  position:absolute;
  left:10px;
  top:0px;
  width:185px;
  word-wrap:break-word;
}
#u1426_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  color:#777777;
  text-align:left;
  line-height:20px;
}
#u1426 {
  position:absolute;
  left:17px;
  top:3486px;
  width:197px;
  height:60px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  color:#777777;
  text-align:left;
  line-height:20px;
}
#u1427 {
  position:absolute;
  left:10px;
  top:0px;
  width:185px;
  word-wrap:break-word;
}
